/* HEADER */
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.custom-logo-link img {
    max-height: 160px !important;
}
.site-title {
    font-size: 60px;
}
.site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(122, 186, 122, .7);
    height: 100%;
    width: 100%;
}
.navigation-top {
    background-color: #7ABA7A;
    border-top: 3px solid #FFFFFF;
}
.navigation-top .wrap {
    padding: 0 2em !important;
}
#top-menu {
    text-transform: uppercase;
}
#top-menu > li > a {
    color: #FFFFFF;
}
#top-menu #menu-item-170 {
    position: relative;
    background: #FFFFFF;
    padding: 0 20px 0 40px;
    float: right;
}
#top-menu #menu-item-170:before {
    content: "\f486";
    font-family: Dashicons;
    font-size: 18px;
    color: #7ABA7A;
    position: absolute;
    top: 10px;
    left: 27px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu #menu-item-170 > a {
    color: #7ABA7A;
}
.menu-scroll-down {
    display: none !important;
}