/* HEADER */
.site-branding {
    margin-bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.site-title {
    font-size: 60px;
}
.site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 153, 204, .7);
    height: 100%;
    width: 100%;
}
.navigation-top {
    background-color: #0099CC;
}
#top-menu {
    text-transform: uppercase;
}
#top-menu li > a {
    color: #FFFFFF;
}
#top-menu #menu-item-170 {
    background: #FFFFFF;
    border-radius: 30px;
    padding: 0px 10px;
}
#top-menu #menu-item-170 > a {
    color: #0099CC;
}