/* HEADER */
.site-branding a:hover, .site-branding a:focus {
    opacity: 1;
}
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.home .site-branding {
    text-align: center;
}
.home .custom-logo-link img {
    max-height: 270px !important;
}
.home .site-title {
    font-size: 60px;
}
.home .site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}
.navigation-top {
    background-color: #2ab220;
    border-top: 3px solid #FFFFFF;
}
.navigation-top .wrap {
    padding: 0 2em !important;
}
#top-menu {
    text-transform: uppercase;
}
#top-menu > li {
    position: relative;
}
#top-menu > li > a {
    position: relative;
    margin-right: 10px;
    color: #FFFFFF;
}
#top-menu > li:first-child:before {
    content: "\f102";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(2) > a:before {
    content: "\f348";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(3) > a:before {
    content: "\f469";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(4) > a:before {
    content: "\f487";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(5) > a:before {
    content: "\f488";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:last-child:before {
    content: "\f486";
    font-family: Dashicons;
    font-size: 18px;
    color: #7ABA7A;
    position: absolute;
    top: 10px;
    left: 27px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:last-child {
    background: #FFFFFF;
    padding: 0 20px 0 40px;
    float: right;
    transition-duration: .3s;
}
#top-menu > li:last-child:hover {
    background-color: #001e39;
}
#top-menu > li:last-child > a {
    color: #2ab220;
}

#top-menu > li:last-child:hover > a {
    color: #FFFFFF;
}
#top-menu > li:last-child:hover:before {
    color: #FFFFFF;
}
.menu-scroll-down {
    display: none !important;
}

/* Hover Dropdown Menu Color Change */
.main-navigation li li:hover, .main-navigation li li.focus {
    background-color: #001e39;
}

/* Homepage Headings */
.home .content-area .entry-header .entry-title {
    font-size: 30px;
}


/* Event Buttons Section */
.event-buttons {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.event-buttons li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    transition-duration: .3s;
}
.event-buttons li:hover {
    transform: translateY(-10px);
}
.event-buttons li:last-child {
    margin-right: 0;
}
.event-buttons li a {
    display: inline-block;
    padding: 10px 0;
    width: 110px;
    background: #001d38;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: .3s;
}
.event-buttons li a:hover {
    color: #FFFFFF;
    background-color: #2ab220;
}
.event-buttons li a .eb-icon {
    display: block;
}
.event-buttons li a .eb-icon span {
    height: inherit;
    width: inherit;
    font-size: 46px;
}
.event-buttons li a .eb-title {
    display: block;
    margin-top: 0;
    font-size: 14px;
}

/* WC Speakers on Homepage */
/* .wcorg-speakers .wcorg-speaker {
    display: inline-block;
    max-width: 44%;
    text-align: center;
}
.wcorg-speakers .wcorg-speaker-description img {
    border-radius: 50%;
    margin-bottom: 10px;
}
.wcorg-speakers .wcorg-speaker-description h2 {
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}
.wcorg-speakers .wcorg-speaker-description h5 {
    font-size: 11px;
    text-transform: unset;
    font-weight: normal;
    font-family: inherit;
    text-align: center;
} */


/* New Styling for Speakers*/
.wcorg-speakers .wcorg-speaker {
    margin-bottom: 30px;
    max-width: 210px;
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}
.wcorg-speakers .wcorg-speaker h2 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}
.wcorg-speaker-description img {
    border-radius: 50%;
    border: 1px solid #2ab220;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: content-box;
}
.wcorg-speaker-description h5 {
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    text-transform: inherit;
}
.speaker-buttons {
    margin-top: 10px;
}
.speaker-buttons a {
    display: inline-block;
    background: #001e39;
    color: #FFF;
    width: 70px;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #001e39;
    font-size: 11px;
    box-shadow: none;
}
.speaker-buttons a:hover {
    background-color: transparent;
    color: #001e39;
    box-shadow: none;
}
.speaker-buttons a.speaker-topic-info-link {
    background: #2ab220;
    border-color: #2ab220;
}
.speaker-buttons a.speaker-topic-info-link:hover {
    background-color: transparent;
    color: #2ab220;
}
.speaker-buttons a span {
    width: auto;
    font-size: 12px;
    float: none;
    height: auto;
    line-height: inherit;
}
.single .speaker-buttons {
    display: none;
}
.home .speaker-profile-info, .page .speaker-profile-info {
    display: none !important;
}


/* Organizers */
.home #panel2 .wrap {
    max-width: 100%;
    background: #001d38;
    color: #FFF;
    text-align: center;
}
.home #panel2 .wrap .entry-title {
    color: #FFF;
}
.wcorg-organizers .wcorg-organizer {
    float: left;
    margin-right: 5px;
    width: 19%;
}
.wcorg-organizers .wcorg-organizer h2 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}
.wcorg-organizers .wcorg-organizer .wcorg-organizer-description img {
    float: left;
    border: 2px solid #FFF;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: content-box;
}
.wcorg-organizers .wcorg-organizer .wcorg-organizer-description p {
    font-size: 11px;
    text-align: left;
}
.wcorg-organizers .wcorg-organizer .wcorg-organizer-description p a {
    color: #FFF;
}
/* Organizers on actual page */
.page-slug-organizers #content .content-area, .page-slug-organizers #content .wrap {
    max-width: 100% !important;
}
.page-slug-organizers #content .content-area .wcorg-organizers .wcorg-organizer .wcorg-organizer-description p a {
    color: #333;
}


/* Homepage Volunteer Banners */
.home article#panel3 .wrap {
    max-width: 100%;
    text-align: center;
    background: #58d14f;
}
.wcisb-volunteers {
    padding: 0;
    margin: 0;
}
.wcisb-volunteers li {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 245px;
}

/* Single and Page Header */
.page .site-branding, .single .site-branding {
    text-align: left;
}
.page .custom-logo-link img, .single .custom-logo-link img {
    max-height: 120px !important;
}
.page .site-branding-text .site-title, .single .site-branding-text .site-title {
    font-size: 44px;
}
.page .site-branding-text .site-description, .single .site-branding-text .site-description {
    font-size: 44px;
}

/* Header settings on Homepage */
.home .site-branding {
    text-align: center;
}
.home .custom-logo-link img {
    max-height: 270px !important;
}
.home .site-title {
    font-size: 60px;
}
.home .site-description {
    font-size: 48px;
}




/* RESPONSIVE */
@media all and (max-width: 480px) {
    .site-branding .wrap {
        padding: 0;
    }
    .site-title {
        font-size: 34px !important;
    }
    .site-description {
        font-size: 18px !important;
    }
    .home .content-area .entry-header .entry-title {
        font-size: 18px;
    }
    .event-buttons li {
        margin-bottom: 15px;
    }
    .wcorg-organizers .wcorg-organizer {
        width: 100%;
    }
    .wcisb-volunteers li {
        margin-bottom: 20px;
    }
    #top-menu {
        margin-bottom: 20px;
    }
    #top-menu > li > a {
        position: relative;
        margin-right: 10px;
        color: #2ab220;
        margin-left: 20px;
    }
    #top-menu > li:first-child:before {
        top: 6px;
        left: -5px;
        color: #2ab220;
    }
    #top-menu > li:nth-child(2) > a:before, 
    #top-menu > li:nth-child(3) > a:before,
    #top-menu > li:nth-child(4) > a:before,
    #top-menu > li:nth-child(5) > a:before {
        top: 6px;
        left: -25px;
        color: #2ab220;
    }
    #top-menu > li:last-child {
        float: none;
        background: #2ab220;
    }
    #top-menu > li:last-child > a {
        color: #FFFFFF;
        font-size: 14px;
    }
    #top-menu > li:last-child:before {
        color: #FFFFFF;
        top: 4px;
    }
    #tix-attendees .tix-columns-3 li {
        width: 100%;
    }
    .page .site-branding, .single .site-branding {
        text-align: center;
    }
    .wcorg-speakers {
        text-align: center;
    }
    /* .wcorg-speakers .wcorg-speaker {
        margin: 0 auto 30px auto;
    } */
}