/* HEADER */
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.site-title {
    font-size: 60px;
}
.site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 153, 204, .7);
    height: 100%;
    width: 100%;
}
.navigation-top {
    background-color: #0099CC;
    border-top: 3px solid #FFFFFF;
}
.navigation-top .wrap {
    padding: 0 2em !important;
}
#top-menu {
    text-transform: uppercase;
}
#top-menu > li > a {
    color: #FFFFFF;
}
#top-menu #menu-item-170 {
    background: #FFFFFF;
    padding: 0px 20px;
    float: right;
}
#top-menu #menu-item-170 > a {
    color: #0099CC;
}
.menu-scroll-down {
    display: none !important;
}