/* HEADER */
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.custom-logo-link img {
    max-height: 270px !important;
}
.site-title {
    font-size: 60px;
}
.site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}
.navigation-top {
    background-color: #2ab220;
    border-top: 3px solid #FFFFFF;
}
.navigation-top .wrap {
    padding: 0 2em !important;
}
#top-menu {
    text-transform: uppercase;
}
#top-menu > li {
    position: relative;
}
#top-menu > li > a {
    position: relative;
    margin-right: 10px;
    color: #FFFFFF;
}
#top-menu > li:first-child:before {
    content: "\f102";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(2) > a:before {
    content: "\f348";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(3) > a:before {
    content: "\f469";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(4) > a:before {
    content: "\f487";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(5) > a:before {
    content: "\f488";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:last-child:before {
    content: "\f486";
    font-family: Dashicons;
    font-size: 18px;
    color: #7ABA7A;
    position: absolute;
    top: 10px;
    left: 27px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:last-child {
    background: #FFFFFF;
    padding: 0 20px 0 40px;
    float: right;
    transition-duration: .3s;
}
#top-menu > li:last-child:hover {
    background-color: #001e39;
}
#top-menu > li:last-child > a {
    color: #2ab220;
}

#top-menu > li:last-child:hover > a {
    color: #FFFFFF;
}
#top-menu > li:last-child:hover:before {
    color: #FFFFFF;
}
.menu-scroll-down {
    display: none !important;
}

/* Hover Dropdown Menu Color Change */
.main-navigation li li:hover, .main-navigation li li.focus {
    background-color: #001e39;
}



/* Event Buttons Section */
.event-buttons {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.event-buttons li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    transition-duration: .3s;
}
.event-buttons li:hover {
    transform: translateY(-10px);
}
.event-buttons li:last-child {
    margin-right: 0;
}
.event-buttons li a {
    display: inline-block;
    padding: 10px 0;
    width: 110px;
    background: #001d38;
    color: #FFFFFF;
    text-decoration: none;
    transition-duration: .3s;
}
.event-buttons li a:hover {
    color: #FFFFFF;
    background-color: #2ab220;
}
.event-buttons li a .eb-icon {
    display: block;
}
.event-buttons li a .eb-icon span {
    height: inherit;
    width: inherit;
    font-size: 46px;
}
.event-buttons li a .eb-title {
    display: block;
    margin-top: 0;
    font-size: 14px;
}

/* WC Speakers on Homepage */
/* .wcorg-speakers .wcorg-speaker {
    display: inline-block;
    max-width: 44%;
    text-align: center;
}
.wcorg-speakers .wcorg-speaker-description img {
    border-radius: 50%;
    margin-bottom: 10px;
}
.wcorg-speakers .wcorg-speaker-description h2 {
    font-size: 16px;
    text-decoration: none;
    padding: 0;
}
.wcorg-speakers .wcorg-speaker-description h5 {
    font-size: 11px;
    text-transform: unset;
    font-weight: normal;
    font-family: inherit;
    text-align: center;
} */


/* New Styling for Speakers*/
.wcorg-speakers .wcorg-speaker {
    max-width: 210px;
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}
.wcorg-speakers .wcorg-speaker h2 {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}
.wcorg-speaker-description img {
    border-radius: 50%;
    border: 1px solid #2ab220;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: content-box;
}
.speaker-buttons {
    margin-top: 10px;
}
.speaker-buttons a {
    display: inline-block;
    background: #001e39;
    color: #FFF;
    width: 47%;
    padding: 5px 10px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid #001e39;
    font-size: 11px;
    box-shadow: none;
}
.speaker-buttons a.speaker-topic-info-link {
    background: #2ab220;
    border-color: #2ab220;
}