/* HEADER */
.site-branding {
    margin-bottom: 0 !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    text-align: center;
}
.custom-logo-link img {
    max-height: 270px !important;
}
.site-title {
    font-size: 60px;
}
.site-description {
    font-size: 48px;
}
.custom-header {
    position: relative;
}
.custom-header:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
}
.navigation-top {
    background-color: #2ab220;
    border-top: 3px solid #FFFFFF;
}
.navigation-top .wrap {
    padding: 0 2em !important;
}
#top-menu {
    text-transform: uppercase;
}
#top-menu > li {
    position: relative;
}
#top-menu > li > a {
    position: relative;
    margin-right: 10px;
    color: #FFFFFF;
}
#top-menu > li:first-child:before {
    content: "\f102";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(2) > a:before {
    content: "\f348";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(3) > a:before {
    content: "\f469";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(4) > a:before {
    content: "\f487";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:nth-child(5) > a:before {
    content: "\f488";
    font-family: Dashicons;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:last-child:before {
    content: "\f486";
    font-family: Dashicons;
    font-size: 18px;
    color: #7ABA7A;
    position: absolute;
    top: 10px;
    left: 27px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
#top-menu > li:last-child {
    background: #FFFFFF;
    padding: 0 20px 0 40px;
    float: right;
    transition-duration: .3s;
}
#top-menu > li:last-child:hover {
    background-color: #001e39;
}
#top-menu > li:last-child > a {
    color: #2ab220;
}

#top-menu > li:last-child:hover > a {
    color: #FFFFFF;
}
.menu-scroll-down {
    display: none !important;
}

/* Hover Dropdown Menu Color Change */
.main-navigation li li:hover, .main-navigation li li.focus {
    background-color: #001e39;
}



/* Event Buttons Section */
.event-buttons {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.event-buttons li {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    transition-duration: .3s;
}
.event-buttons li:hover {
    transform: translateY(-10px);
}
.event-buttons li:last-child {
    margin-right: 0;
}
.event-buttons li a {
    display: inline-block;
    padding: 20px 0;
    width: 150px;
    border-radius: 5px;
    background: #2ab220;
    color: #FFFFFF;
    text-decoration: none;
}
.event-buttons li a .eb-icon {
    display: block;
    font-size: 36px;
}
.event-buttons li a .eb-title {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

/* Test Comment */